* {
    box-sizing: border-box;
}

body {
    background-color: coral;
    padding: 0;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
    display: grid;
}

#canvasContainer {
    width: 100%;
    height: max-content;
    background-color: aliceblue;
    position: relative;
}

#canvas {
    width: inherit;
}

.topNavCanvas {
    background-color: yellowgreen;
}

.topNavCanvas *{
    float: left;
}

div#gagueContainer{
    position: absolute;
    bottom: -2.5vw;
    right: 0;
    display: flex;
}

div#speed_gauge {
    position: relative;
    margin: 0.1vw;
    margin-bottom: 0%;
    width: 20vw;
    height: 20vw;
}

div#speed_gauge p#units,
div#speed_gauge p#valueReadout,
div#speed_gauge div#circle,
div#speed_gauge div#needle,
div#speed_gauge p.marker,
div#speed_gauge div.label_wrapper {
    position: absolute;
    margin: 0;
    left: 50%;
    color: rgb(186, 201, 206);
}

div#speed_gauge div#circle {
    width: 10%;
    height: 10%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    background-color: rgb(76, 76, 90);
    z-index: 2;
}

div#speed_gauge p#units {
    bottom: 25%;
    font-size: 2vw;
    transform: translateX(-50%);
}

div#speed_gauge p#valueReadout {
    bottom: 15%;
    font-size: 2vw;
    transform: translateX(-50%);
}

div#speed_gauge div#needle,
div#speed_gauge p.marker,
div#speed_gauge div.label_wrapper {
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
}

div#speed_gauge div#needle {
    width: 1.5%;
    height: 40%;
    background-color: rgb(175, 61, 61);
    border-radius: 40% 40% 0 0;
    z-index: 1;
}

div#speed_gauge p.marker {
    font-size: 2vw;
    height: 50%;
}

div#speed_gauge div.label_wrapper {
    height: 38%;
}

div#speed_gauge div.label_wrapper p {
    font-size: 1.5vw;
    margin: 0;
}


div#bar_indicator{
    position: relative;
    height: 3vw;
    width: 12vw;
    border: 3px solid black;
    margin:  0vw 0.5vw 0vw 0.5vw;
    padding: 0.1vw;
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
}

#bar_indicator P{
    position: absolute;
    margin: 0%;
    bottom: 0%;
    padding: inherit;
    transform: rotate(90deg);
}
#bar_indicator P#left_value{ 
    left: 0;
    text-align: left;
}

#bar_indicator P#middle_value{
    margin-left: auto; 
    margin-right: auto;
    left: 0; 
    right: 0;
    text-align: center;
}

#bar_indicator P#right_value{ 
    right: 0;
    text-align: right;
}

#bar_indicator #main_bar{
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    width: 10vw;
    height: 2vw;
    border-radius: 10px;
    background-color: aqua;
}

#bar_indicator #main_bar #marker{
    position: absolute;
    width: 0.2vw;
    height: 2.5vw;
    top: -0.25vw;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
}