* {
    box-sizing: border-box;
  }

body {
    background-color: coral;
    padding: 0;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
  }

#canvas{
    width: 100%;
    height: max-content;
    background-color: aliceblue;
}

.rowElements{
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.topNavCanvas{
    justify-content: center;
    vertical-align: middle;
}
